<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <h4>Correspondence Server Homepage</h4>
    <!--
    <form>
        <div class="form-group">
        <label for="exampleFormControlSelect1">Choose Equivalence Class</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>SSU rRNA (E. coli)</option>
          <option>SSU rRNA (T. thermophilus)</option>
        </select>
        </div>
        <div class="form-group">
        <label for="exampleFormControlInput1">Enter the query IFE</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="5J7L|1|AA">
        </div>
        <div class="form-group">
        <label for="exampleFormControlInput1">Enter the query selection</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="This could be a loop id or a sequence of residue number separated by commas ">
        </div>
        <div class="form-group">
        <label for="exampleFormControlSelect1">Choose Discrepancy calculation method</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Geometric</option>
          <option>Relative</option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    -->
    <form id="generateCorrespondence" action="/correspondence/" >
        <div class="form-group">
            <label for="ife">Enter the Query IFE</label>
            <input type="text" class="form-control" id="ife" placeholder="Enter the query ife ">
            <label for="selection">Enter the Query Selection</label>
            <input type="text" class="form-control" id="selection" placeholder="This could be a loop id or a sequence of residue number separated by commas ">
            <label for="method">Choose Discrepancy calculation method</label>
            <select class="form-control" id="method">
                <option value="geometric" selected>geometric</option>
                <option value="relative">relative</option>
            </select>
            <label for="core" style="display: none;">Enter the core nucleotides for alignment</label>
            <input type="text" class="form-control" id="core" style="display: none;" placeholder="Enter the core nts ">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>
<script>

        $('#method').change(function() {
            let selected = $(this).val();
            if(selected == 'relative'){
                $('#core').show();
                $('label[for="core"]').show();
            }
            else{
                $('#core').hide();
                $('label[for="core"]').hide();
            }
        });

        $('#generateCorrespondence').on('submit', function() {
            let id = $('#selection').val();
            let ife = $('#ife').val();
            let method = $('#method').val();
            let core = $('#core').val();
            if (method == 'geometric') {
                let formAction = $('#generateCorrespondence').attr('action');
                $('#generateCorrespondence').attr('action', formAction + method + '/' + ife + '/' + id);
            } else {
                let formAction = $('#generateCorrespondence').attr('action');
                $('#generateCorrespondence').attr('action', formAction + method + '/' + ife + '/' + id + '/' + core);
            }
        });

</script>