<!DOCTYPE html>
<html lang="en">
<head>
  <title>Correspondence Server</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
  <!--<script src="http://rna.bgsu.edu/rna3dhub/js/jsmol/JSmol.min.nojq.js"></script>
  <script src="http://rna.bgsu.edu/rna3dhub/js/jquery.jmolTools.js"></script>-->
  <script src="/static/js/jsmol/JSmol.min.nojq.js"></script>
  <script src="/static/js/jquery.jmolTools.js"></script>
  <script src="//d3js.org/d3.v4.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
   /*  Set height of the grid so .sidenav can be 100% (adjust as needed) */ 
    .row.content {height: 250px }
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 5px;
      background-color: #f1f1f1;
      height: 260px;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    /* Table properties */
    .tablecontainer { width: 1000px; height: 320px; overflow: scroll;}
      /*tr {display: block; }
      th, td { width: 333px; }
      tbody { display: block; height: 200px; overflow: auto;} 
      tbody {display: block; height: 200px; overflow: auto;}*/

    #chart {
      padding-left: 200px;
    }

  </style>

  <script type="text/javascript">

          var jmolApplet0; // set up in HTML table, below

          // logic is set by indicating order of USE -- default is HTML5 for this test page, though
          var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

          jmol_isReady = function(applet) {
              Jmol._getElement(applet, "appletdiv").style.border="1px solid blue";
              $('.jmolInline').first().jmolToggle();
          }

          var Info = {
              width: 600,
              height: 400,
              debug: false,
              color: "white",
              addSelectionOptions: false,
              use: "HTML5",
              //j2sPath: "http://rna.bgsu.edu/rna3dhub/js/jsmol/j2s/",
              j2sPath: "/static/js/jsmol/j2s",
              readyFunction: jmol_isReady,
              //script: script,
              //jarPath: "java",
              //jarFile: (useSignedApplet ? "JmolAppletSigned.jar" : "JmolApplet.jar"),
              //isSigned: useSignedApplet,
              //disableJ2SLoadMonitor: true,
              disableInitialConsole: true
              //defaultModel: "$dopamine",
              //console: "none", // default will be jmolApplet0_infodiv
          }


          // these are conveniences that mimic behavior of Jmol.js

          function jmolCheckbox(script1, script0,text,ischecked) {Jmol.jmolCheckbox(jmolApplet0,script1, script0, text, ischecked)}
          function jmolButton(script, text) {Jmol.jmolButton(jmolApplet0, script,text)}
          function jmolHtml(s) { document.write(s) };
          function jmolBr() { jmolHtml("<br />") }
          function jmolMenu(a) {Jmol.jmolMenu(jmolApplet0, a)}
          function jmolScript(cmd) {Jmol.script(jmolApplet0, cmd)}
          function jmolScriptWait(cmd) {Jmol.scriptWait(jmolApplet0, cmd)}

    </script>

    <link rel="shortcut icon" href="http://rnatest.bgsu.edu/rna3dhub/icons/C_icon.png">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Correspondence Server</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav" text-left">
      <div class="block-div resizable" id="annotation-panel">
                        <dl>
                            <dt>Query PDB:</dt>
                              <dd id="common_name" class="edit">{{ query_pdb }}</dd>
                                                        
                            <dt>Query Residues:</dt>
                              <dd id="common_name" class="edit">{{ loop_position }}</dd>

                            <dt>Max Disc:</dt>
                              <dd id="max_disc" class="edit">{{ maxDisc }}</dd>

                            <dt>95th percentile Disc:</dt>
                              <dd id="p_disc2" class="edit">{{ p2 }}</dd>
                    
                            
                            <dt>Equivalence Class:</dt>
                              <dd id="common_name" class="edit"><a href="http://rna.bgsu.edu/rna3dhub/nrlist/view/{{ ec }}" target="_blank">{{ ec }}</a></dd>
                                                        
                            <dt>NR Release</dt>
                              <dd id="common_name" class="edit"><a href="http://rna.bgsu.edu/rna3dhub/nrlist/release/{{ release }}" target="_blank">{{ release }}</a></dd>
                            
                        </dl>
      </div>

    </div>


    <div class="col-sm-8"> 
        <div class="tablecontainer">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">View</th>
                  <th scope="col">RNA Chain</th>
                  <th scope="col">Reported head</th>
                  <th scope="col">Calculated head</th>
                  <th scope="col">Reported IS</th>
                  <th scope="col">Calculated IS</th>
                  <th scope="col">tRNA occupancy</th>
                  <th scope="col">Ribosome State</th>
                  <th scope="col">Factors bound</th>
                  <th scope="col">Antibiotic/ligand bound</th>
                  {% for res in range (0, pw_list|length)%}
                  <th scope="col">{{ pw_list[res] }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
              {% for k,v in pw_info.items() %}
                <tr>
                  <td><input type='checkbox' id='{{loop.index0}}' class='jmolInline' data-coord = '{{coord[loop.index0]}}' data-quality = '{{coord[loop_index0]}}'>{{loop.index0 + 1}}</td>
                  <td>{{ ifes[loop.index0][1] }}</td>
                  <td>{{ reported_head[loop.index0] }}</td>
                  <td>{{ calculated_head[loop.index0] }}</td>
                  <td>{{ reported_rotation[loop.index0] }}</td>
                  <td>{{ calculated_rotation[loop.index0] }}</td>
                  <td>{{ trna_occupancy[loop.index0] }}</td>
                  <td>{{ functional_state[loop.index0] }}</td>
                  <td>{{ factors_bound[loop.index0] }}</td>
                  <td>{{ antibiotic_bound[loop.index0] }}</td>
                  {% for res in range (0, pw_list|length)%}
                  <td>{{ v[pw_list[res]] }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
    </div>

    
  </div>

  <div class="row content">
    </br>
    <div class="col-sm-4">

      <script type="text/javascript">

          jmolApplet0 = Jmol.getApplet("jmolApplet0", Info);

          $(document).ready(function(){
          // initialize the plugin
              $('.jmolInline').jmolTools({
                  showStereoId: 'stereo2',
                  showNeighborhoodId: 'neighborhood',
                  showNumbersId: 'showNtNums',
                  colorOption: 'colorOPT',
                  showNextId: 'next',
                  showPrevId: 'prev',
                  showAllId: 'all'
              });

          });

          </script>

          <input type="button" id="neighborhood" value="Show neighborhood">
          <input type="button" id="prev" value="Previous">
          <input type="button" id="next" value="Next">
          <input type="button" id='all' value='Show all'>
          <label><input type="checkbox" id="showNtNums">Nucleotide numbers</label>
          <!--<label><input type="checkbox" id="stereo1">Stereo</label>-->
          <input type="button" id="stereo2" value="Stereo">

          Coloring options: <select id="colorOPT">
                          <option value="Default" selected>Default</option>
                          <option value="CPK">CPK</option>
                          <option value="RSR">Real Space R (RSR)</option>
                          <option value="RSRZ">RSR Z-Score (RSRZ)</option></select>
        
    </div>

    <div class="col-sm-4">

      <div id ='chart'>
            <script type="text/javascript">
                var data = {{ data | tojson | safe }};
            </script>
            <!--<script type="text/javascript" src="http://rnatest.bgsu.edu/corr-server/static/js/heatmap.js"></script>-->
      </div>
    </div>
  </div>
</div>


<footer class="container-fluid text-center">
  <p>BGSU RNA Group</p>
</footer>

</body>

<script src="http://rna.bgsu.edu/webfr3d/js/heatmap.js"></script>
</html>